body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(232, 216, 196, 10%);
    margin: 50px 150px;
}

div {
    text-align: center;
    margin: 50px;
}

h1 {
    color: #6D2932;
}

h3 {
    margin-bottom: 0px;
    color: #6D2932;
}

p {
    margin-top: 8px;
}

img {
    width: 350px;
}

#code {
    margin: 0;
    text-align: left;
    background-color: rgba(232, 216, 196, 50%);
}