:root {
    scroll-padding-top: 100px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(232, 216, 196, 10%);
    /* margin: 50px 300px; */
    /* max-width: 1200px; */
    text-align: center;
    /* display: flex; */
    margin: 0;
    padding: 50px;
}

div {
    text-align: left;
}

h1 {
    color: #000000;
}

h2 {
    margin-bottom: 0px;
}

p {
    margin-top: 8px;
}

img {
    width: 350px;
}

#code {
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: rgba(232, 216, 196, 50%);
}

.inline {
    display: inline;
}

.caption {
    margin: 0px;
}

pre {
    overflow: scroll;
    margin: 0;
}

.navbar {
    background-color: #B6CEB4;
    position: fixed;
    top: 0;
}

.content {
    padding-top: 50px;
    max-width: 1080px;
    margin: 0 auto;
}

a {
    color: black;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link-container {
    display: flex;
    justify-content: right;
}

.link {
    text-decoration: underline;

}

.link:hover {
    text-decoration: none;
}