/* .navbar {
    background-color: #B6CEB4;
}

.link-container {
    display: flex;
    justify-content: right;
}

.link {
    text-decoration: underline;

}

.link:hover {
    text-decoration: none;
} */